html, body {
  min-width: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: px solid black;
}

.header_container {
  max-width: 1200px;
  margin: 0 auto;
}

.header_box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 15px;
}

.header_box_searcher {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #000;
}

.input_search {
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
}

.header_box_menu {
  display: none;
}

.button_search {
  color: rgba(18, 18, 18, 1);
  border: none;
  background: none;
  cursor: pointer;
}

.header_box_logo {
  display: flex;
  justify-content: center;
  flex-grow: 3;
}

.header_box_logo_inner {
  display: flex;
}

.header_logo {
  width: 80%;
  height: auto;
}

.header_box_info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header_box_info_call {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.call_number {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.call_button {
  padding: 5px 8px;
  background: none;
  border-radius: 25px;
  border: 1px solid rgba(116, 169, 193, 1);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.header_box_info_social {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-self: flex-end;
  align-items: center;
}

.social_box {
  position: relative;
  display: flex;
}

.social_route {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.social_img {
  width: 20px;
  height: 30px;
}

.profile_box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile_box_menu {
  display: none;
  position: relative;
  flex-direction: column;
}

.profile_button {
  background: none;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: rgba(96, 174, 207, 1);
  cursor: pointer;
}


@keyframes appear {
  0% {display: none; opacity: 0}
  100% {display: flex; opacity: 1}
}

.profile_actions {
  display: flex;
  animation: appear 0.5s ease-in;
}

.profile_actions {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 10px;
  border: 1px solid gainsboro;
  z-index: 999;
  gap: 2px;
  text-decoration: none;
}

.login_button {
  padding: 10px 12px;
  border-radius: 5px;
  color: rgba(96, 174, 207, 1);
  font-family: 'Inter', sans-serif;
  border: 1px solid rgba(96, 174, 207, 1);
  background: #fff;
  cursor: pointer;
}

.sign-up_button {
  padding: 10px 12px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  background: rgba(96, 174, 207, 1);
  cursor: pointer;
}

.menu_button {
  border: none;
  background: none;
  font-size: 25px;
}

.navigation_wrapper {
  background: rgba(96, 174, 207, 1);
}

.navigation_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}

.nav_routes {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.intro_section {
  position: relative;
  overflow: hidden;
  padding: 50px 0 230px;
  background-image: url("../assets/image/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.intro_container {
  max-width: 1000px;
  margin: 0 auto;
}

.intro_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  z-index: 999;
  padding: 15px;
}

.intro_title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 54px;
  color: rgba(255, 255, 255, 1);
  z-index: 999;
}

.intro_descr {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  flex-grow: 1;
  color: rgba(255, 255, 255, 1);
}

.catalog_button {
  margin-top: 50px;
  padding: 8px 25px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  border-radius: 99em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.tabs_section {
  padding: 100px 0;
}

.tabs_container {
  max-width: 1100px;
  margin: 0 auto;
}

.tabs_box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.tabs_title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: rgba(116, 169, 193, 1);
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  width: auto !important;
}

.tabs_slider_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tabs_slider_box {

}

.tabs_slider_inner {
  position: relative;
}

.button-category-active {
  padding: 6px 12px;
  border: 2px solid rgba(116, 169, 193, 1) !important;
  color: rgba(116, 169, 193, 1) !important;
  transition: 0.3s ease-in;
}

.button-category-none {
  border: none;
  border-radius: 99em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(165, 165, 165, 1);
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.button-category-select {
  min-width: 130px !important;
  padding: 6px 12px;
  border: 2px solid rgba(116, 169, 193, 1);
  border-radius: 99em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(116, 169, 193, 1);
  background: none;
  cursor: pointer;
}