@media screen and (max-width: 1300px) {
    .nextSlideButton {
        right: 0 !important;
    }
    .previousSlideButton {
        left: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .catalog_popup_box {
        width: 700px;
    }
}

@media screen and (max-width: 1020px) {
    .phone_route {
        font-size: 13px;
    }
    .catalog_links {
        font-size: 13px;
    }
    .nav_links {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .auto-chemical_title {
        font-size: 18px;
    }
}
@media screen and (max-width: 950px) {
    .profile_box_menu {
        display: flex;
    }
    .profile_box {
        display: none;
    }
    .header_wrapper.Active {
        max-height: 400vh;
        transition: max-height 0.8s ease-in;
    }
    .header_wrapper {
        max-height: 140px;
        overflow: hidden;
        transition: max-height 0.8s ease-in-out;
    }
    .header_box_logo {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .header_box_searcher {
        order: 2;
        width: 100%;
    }
    .input_search {
        flex-grow: 1;
    }
    .header_box {
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid gainsboro;
    }
    .header_logo {
        margin: 0;
        max-width: 150px;
    }
    .header_box_logo_inner {
        flex-grow: 1;
    }
    .header_box_menu {
        display: flex;
    }
    .header_box_info {
        flex-direction: column;
        padding: 40px 0 0;
    }
    .header_box_info_social {
        align-self: flex-start;
    }
    .navigation_box {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .auto-chemical_title {
        font-size: 12px;
        padding: 0;
    }
    .auto-clear-care_route {
        border-radius: 28px 0 0 0;
    }
    .auto-clear-care_button-route {
        width: 30px;
        height: 30px;
    }
    .catalog_popup {
        width: 100%;
    }
    .catalog_popup_box.Active {
        top: 10px;
        max-height: 200vh;
        transition: max-height 1.5s linear;
    }
    .catalog_popup_box {
        width: 100%;
        display: flex;
        position: relative;
        top: 10px;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s linear;
    }
    .popup_box_main-routes {
        border-radius: 0;
    }
    .popup_box_routes_box {
        padding: 15px;
    }
    .fa-chevron-down.Active {
        transform: rotate(180deg);
        transition: 0.2s ease-in;
        margin-left: 6px;
    }
    .nav_routes > i {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .phone_route {
        font-size: 12px;
    }
}

@media screen and (max-width: 860px) {
    .nav-routes_col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .news-letter_col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
}

@media screen and (max-width: 820px) {
    .box_household_chemical_title {
        font-size: 22px;
    }
    .pro-for-living_box_title {
        font-size: 22px;
    }
    .discount_box {
        width: 60%;
    }
    .route_link {
        font-size: 14px;
    }
    .main_route_link {
        font-size: 14px;
    }
    .intro_section {
        background-image: url("../assets/image/1-mobile.png");
        transition: 0.2s ease-in;
        background-size: 100%;
        padding: 0 0 200px;
    }
    .intro_title {
        font-size: 42px;
    }
    .intro_descr {
        font-size: 17px;
    }
    .catalog_button {
        font-size: 16px;
    }
    .figure {
        display: none;
    }
    .nav_route {
        font-size: 15px;
    }
}

@media screen and (max-width: 720px) {
    .cat-col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .chemic-col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .box_household_chemical {
        padding: 40px 15px 40px 70px;
    }
    .catalogs-col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .pro-for-living_col {
        flex-basis: 100%;
    }
    .pro-for-living_box {
        padding: 40px 15px 40px 70px;
        background-position: bottom;
    }
    .about-us_img_col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .about-us_info_col {
        flex-basis: 100%;
        transition: 0.5s ease-in;
    }
    .footer_section {
        padding: 30px 0;
    }
    .about-us_img_col {
        padding: 0 !important;
    }
    .main-routes_col {
        flex-basis: 100%;
    }
    .catalog-routes_col {
        flex-basis: 100%;
    }
    .catalog_section {
        padding: 25px 5px 50px;
    }
}

@media screen and (max-width: 700px) {
    .tabs_slider_inner {
        gap: 5px;
    }
}

@media screen and (max-width: 680px) {
    .intro_section {
        padding: 0 0 140px;
    }
    .about-us_par {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .header_wrapper {
        max-height: 80px;
    }
    .header_logo {
        width: 80px;
    }
    .menu_button {
        font-size: 20px;
    }
    .call_number {
        font-size: 12px;
    }
    .call_button {
        font-size: 11px;
    }
    .social_img {
        width: 20px;
        height: 20px;
    }
    .intro_title {
        font-size: 38px;
    }
    .intro_descr {
        font-size: 15px;
    }
    .catalog_button {
        font-size: 20px;
    }
    .box_catalog_button {
        width: 50px;
        height: 50px;
        font-size: 17px;
    }
    .box_catalog_title {
        font-size: 37px;
    }
    .box_household_chemical {
        padding: 40px 15px 40px 70px;
    }
    .discount_box {
        width: 100%;
        padding: 40px;
    }
    .navigation_box_col {
        flex-basis: 50%;
        transition: 0.5s ease-in;
    }
    .auto-chemical_title {
        padding: 0;
    }
    .cards_slider_card {
        width: 99% !important;
    }
}

@media screen and (max-width: 580px) {
    .intro_section {
        padding: 0 0 120px;
    }
    .tabs_section {
        padding: 0;
    }
    .tabs_box {
        gap: 30px;
        padding: 0 20px 20px;
    }
    .tabs_title {
        font-size: 25px;
    }
}


@media screen and (max-width: 550px) {
    .intro_title {
        font-size: 30px;
    }
    .intro_descr {
        font-size: 13px;
    }
    .catalog_button {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .news-letter_inner {
        flex-direction: column;
        width: 100%;
    }
    .nav_links {
        font-size: 14px;
    }
    .catalog_links {
        font-size: 14px;
    }
    .phone_route {
        font-size: 13px;
    }
    .selected-col {
        width: 100%;
    }
    .news-letter_box {
        padding: 10px;
    }
    .footer_logo_box {
        padding: 20px 30px;
    }
    .news-letter_subs {
        padding: 10px 22px;
        font-size: 13px;
    }
    .news-letter_title {
        font-size: 14px;
    }
    .discount_descr {
        font-size: 18px;
    }
    .catalog-button {
        font-size: 17px;
    }
    .discount_title {
        font-size: 24px;
    }
    .discount_value {
        font-size: 45px;
    }
    .auto-clear-care_inner {
        padding: 5px;
    }
    .auto_chemical_img {
        border-radius: 44.34px 0px 0 32.34px;
    }
    .intro_section {
        padding: 0 0 75px;
    }
    .register_button {
        font-size: 14px;
    }
    .login_button {
        font-size: 14px;
    }
    .reg_popup_wrapper {
        padding: 10px;
    }
    .reg_popup_inner {
        gap: 10px;
    }
    .reg_popup_routes {
        padding: 0 10px;
    }
    .reg_name_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    .reg_data_input {
        padding: 10px 18px;
        font-size: 12px;
        min-height: 40px;
    }
    .reg_mail_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    .reg_popup_sex {
        gap: 10px;
    }
    .sex_name {
        font-size: 11px;
    }
    .sex_box_toggler {
        width: 40px;
        height: 18px;
    }
    .woman_toggler {
        width: 18px;
        height: 18px;
    }
    .man_toggler {
        width: 18px;
        height: 18px;
    }
    .reg_pass_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    .reg_pass-again_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    #first-checker {
        font-size: 12px;
    }
    #second-checker {
        font-size: 12px;
    }
    .get_news_text {
        font-size: 12px;
    }
    .get_news_checkbox {
        width: 15px;
        height: 15px;
    }
    .reg_button {
        font-size: 13px;
    }
    .reg_popup_box {
        padding: 20px 20px;
        width: 100%;
        gap: 0;
    }
    .log_mail_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    .log_pass_input {
        padding: 10px 18px;
        font-size: 12px;
    }
    .login_enter_button {
        font-size: 13px;
    }
    .login_popup_inputs {
        padding: 15px 0 0;
    }
    .reg_popup_reg-button {
        width: 100%;
    }
    .reg_button {
        width: 100%;
    }
    .login_enter_button {
        width: 100%;
    }
    .forget_mail_input {
        padding: 8px 12px;
        font-size: 12px;
    }
    .send_code_button  {
        width: 100%;
        font-size: 13px;
    }
    .reg_name_input-clue {
        font-size: 11px;
        left: 4%;
    }
}

@media screen and (max-width: 450px) {
    .button-category-active {
        font-size: 11px;
    }
    .button-category-none {
        font-size: 11px;
    }
    .box_household_chemical_title {
        font-size: 28px;
    }
    .box_catalog_title {
        font-size: 32px;
    }
    .auto-chemical_title {
        font-size: 10px;
    }
    .reg_name_input-clue {
        font-size: 11px;
        left: 5%;
    }
}

@media screen and (max-width: 420px) {
    .intro_title {
        font-size: 30px;
    }
    .intro_descr {
        font-size: 13px;
    }
    .catalog_button {
        margin-top: 25px;
    }
}

@media screen and (max-width: 370px) {
    .auto-chemical_title {
        font-size: 9px;
    }
    .reg_name_input-clue {
        font-size: 11px;
        left: 6%;
    }
}

@media screen and (max-width: 350px) {
    .get_news_text {
        font-size: 10px;
    }
}