@media screen and (max-width: 1000px) {
    .auto-chemical_title {
        font-size: 18px;
    }
    .navigation_box_col {
        width: 50%;
    }
}
@media screen and (max-width: 950px) {
    .profile_box_menu {
        display: flex;
    }
    .profile_box {
        display: none;
    }
    .header_wrapper.Active {
        max-height: 100vh;
        transition: max-height 0.8s ease-in;
    }
    .header_wrapper {
        max-height: 130px;
        overflow: hidden;
        transition: max-height 0.8s ease-in-out;
    }
    .header_box_logo {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .header_box_searcher {
        order: 2;
        width: 100%;
    }
    .input_search {
        flex-grow: 1;
    }
    .header_box {
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid gainsboro;
    }
    .header_logo {
        max-width: 150px;
    }
    .header_box_logo_inner {
        flex-grow: 1;
    }
    .header_box_menu {
        display: flex;
    }
    .header_box_info {
        flex-direction: column;
        padding: 40px 0 0;
    }
    .header_box_info_social {
        align-self: flex-start;
    }
    .navigation_box {
        flex-direction: column;
    }
    .auto-chemical_title {
        font-size: 14px;
    }
    .auto-clear-care_button-route {
        width: 30px;
        height: 30px;
    }
    .auto-clear-care_inner {
        border-radius: 25.34px 0px 46.34px 0px;
    }
}

@media screen and (max-width: 860px) {
    .nav-routes_col {
        width: 100%;
    }
    .news-letter_col {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .box_household_chemical_title {
        font-size: 22px;
    }
    .pro-for-living_box_title {
        font-size: 22px;
    }
    .discount_box {
        width: 60%;
    }
}

@media screen and (max-width: 720px) {
    .cat-col {
        width: 100%;
    }
    .chemic-col {
        width: 100%;
    }
    .box_household_chemical {
        padding: 40px 15px 40px 70px;
    }
    .catalogs-col {
        width: 100%;
    }
    .pro-for-living_col {
        width: 100%;
    }
    .pro-for-living_box {
        padding: 40px 15px 40px 70px;
        background-position: bottom;
    }
    .about-us_img_col {
        width: 100%;
    }
    .about-us_info_col {
        width: 100%;
    }
    .footer_section {
        padding: 30px 0;
    }
}

@media screen and (max-width: 600px) {
    .header_wrapper {
        max-height: 80px;
    }
    .header_logo {
        width: 80px;
    }
    .menu_button {
        font-size: 20px;
    }
    .call_number {
        font-size: 12px;
    }
    .call_button {
        font-size: 11px;
    }
    .social_img {
        width: 20px;
        height: 20px;
    }
    .intro_title {
        font-size: 38px;
    }
    .intro_descr {
        font-size: 15px;
    }
    .catalog_button {
        font-size: 20px;
    }
    .box_catalog_button {
        width: 50px;
        height: 50px;
        font-size: 17px;
    }
    .box_catalog_title {
        font-size: 37px;
    }
    .box_household_chemical {
        padding: 40px 15px 40px 70px;
    }
    .discount_box {
        width: 100%;
        padding: 40px;
    }
}

@media screen and (max-width: 500px) {
    .auto-clear-care_col {
        width: 50%;
    }
    .news-letter_inner {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .button-category-active {
        font-size: 12px;
    }
    .button-category-none {
        font-size: 12px;
    }
    .button-category-select {
        font-size: 12px;
    }
    .box_household_chemical_title {
        font-size: 28px;
    }
    .box_catalog_title {
        font-size: 32px;
    }
}
